<section class='content'>
  <div class='wrapper'>
    <h1>{% t call_for_sponsors %}</h1> {% t call_for_sponsors_p1 %}
    <h2>{% t sponsorship_options %}</h2>
    <ul class='options'>
      <li><img src='/dist/images/sponsorship-1.png'><span>{% t gold_sponsor %}</span></li>
      <li><img src='/dist/images/sponsorship-2.png'><span>{% t silver_sponsor %}</span></li>
      <li><img src='/dist/images/sponsorship-3.png'><span>{% t bronze_sponsor %}</span></li>
    </ul>
    {% t call_for_sponsors_p2 %}
    <div class='action'><a class='button primary download' href='/doc/UIUXConfChina2016_Sponsor_Package.pdf'>{% t download %}</a></div>
  </div>
</section>
