<section class='content'>
  <div class='hero'>
    <img src='/dist/images/call-for-hero-01.jpg?' class='img bg' />
    <div class='container'>
      <div class='wrapper'>
        <div class='masthead'>
          <h1>{% t call_for_speakers %}</h1>
          <p>Share your ideas, met brilliant people</p>
          <a href='#' class='button primary cta'>{% t apply_now %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='content instuct'>
  <div class='wrapper'>
    <div class='left'>
      <h2>{% t call_for_proposals %}</h2>
      <div>
        <p>JavaScript community to submit talks for the upcoming NingJS Conf 2016 on September 3rd-4th, 2016 in Nanjing, China. The Call for Proposals closes at 12pm EST, June 1st , 2016 (Strictly, no joke!).</p>
        <p>JSConf China is a developer-driven conference where members of the Chinese and international JS community can share and discuss the newest techniques and tools in the JavaScript language. Talks in English and Mandarin are welcome. </p>
      </div>
      <div>
        <h3>{% t inspire  %}</h3>
        <p>If you have something kick-ass to share, tell us all about it. If you know someone who has something great to talk about, nominate them. And if you are interested in hearing about a particular topic, nominate the topic, we'll try to find a match. Fill in and submit this <strong>form</strong>.</p>
        <p>Catch a glimpse of what we are interested in hearing about, here is the program for the past years (<strong>2012, 2013, 2014, 2015</strong>). We have videos from 2015 ShenJS available on <strong>YouTube</strong> and <strong>Tudou</strong>. </p>
      </div>
      <div>
        <h3>我们欢迎各种 JavaScript 相关话题，并且愿意提供帮助。</h3>
        <p>Is this your first time speaking? Want some feedback before submitting your proposal? Get in touch with the event organizer at coco@wiredcraft.com and we'll be happy to help. Submissions through email won't be accepted, so please use the form. </p>
      </div>
    </div>
    <div class='stay-tuned right'>
      <form class='subscription' action='https://www.getdrip.com/forms/5471563/submissions' data-drip-embedded-form='5471563' method='post' target='_blank'>
        <h3>{% t stay_tuned %}</h3>
        <p>{% t be_first %}</p>
        <input type='email' name='fields[email]' class='email' required placeholder='{% t email_address %}' />
        <button type='submit' name='subscribe' class='button purple'>{% t notify_me %}</button>
      </form>
      <span class='qrcode'>
      <img src='/dist/images/qrcode.jpg' />
    </span>
    </div>
  </div>
</section>
<section class='content bg-gray'>
  <div class='wrapper'>
    <h2>The perks</h2>
    <ul class='perks-list'>
      <li>
        <div><img src='/dist/images/svgs/travel.svg'></div>
        <p>Flight and Accomodation</p>
      </li>
      <li>
        <div><img src='/dist/images/svgs/dinner.svg'></div>
        <p>Speaker Dinner</p>
      </li>
      <li>
        <div><img src='/dist/images/svgs/ticket.svg'></div>
        <p>Conference Ticket</p>
      </li>
      <li>
        <div><img src='/dist/images/svgs/camera.svg'></div>
        <p>Professioal Photography & Video</p>
      </li>
    </ul>
    <div>
      <p>As a reminder,  the purpose of JSChina presentations are to share knowledge, skills, and experience.We welcome talks letting ` know how you are using tools in your work, but discourage any proposals with the aim of selling a product or service.</p>
      <p><strong>If your company can cover your travel and hotel, we are happy to list them as a special sponsor.</strong> Check out our sponsor page. The money we save on your travel and accommodation will go to making the event even better! </p>
      <p>Looking forward to your entry!</p>
    </div>
  </div>
</section>
