<section class='content'>
  <div class='wrapper'>
  {% if page.language == 'cn' %}
    <img src='/dist/images/cyb-h-cn.png' class='title cn'>{% else %}
    <img src='/dist/images/cyb-h.png' class='title'>
    {% endif %}
    <div class='col-right'>
      <div class='col'>{% t cyb_p1  %}</div>
      <div class='img'><img src='/dist/images/cyb-1.png'></div>
    </div>
    <div class='col-right'>
      <div class='col'>{% t cyb_p2  %}</div>
      <div class='img'><img src='/dist/images/cyb-2.png'></div>
    </div>
    <p>{% t cyb_p3  %}</p>
    <div>{% t cyb_p4  %}</div>
    <p>{% t cyb_p5  %}</p>
    <div>{% t cyb_p6  %}</div>
    <div class='action'><a class='button primary' href='http://www.bagevent.com/event/156568' target='new'>{% t buyticket %}</a></div>
  </div>
</section>
