<div class='wrapper'>
  {% include subscription.html %}
  <div class='sns'>
    <a href='https://twitter.com/jsconfchina' class='twitter' target='new'></a>
    <a href='http://weibo.com/jsconfcn' class='weibo' target='new'></a>
    <a href='https://github.com/jsconfcn' class='github' target='new'></a>
  </div>
  <div class='copyright'>
    <span> <a href='http://wiredcraft.com/' target='new'>&copy;Wiredcraft 2017 </a> |</span>
    {% if site.lang == 'cn' %}
      <a href='/cn/code-of-conduct/'>Code Of Conduct </a>
    {% else %}
      <a href='/code-of-conduct/'>Code Of Conduct </a>
    {% endif %}
    <a href='mailto:support@jsconf.cn'>Media Contact</a>

    <!-- {% if site.lang == 'cn' %}
      <a href='/press/'>Press</a>
    {% else %}
      <a href='/en/press/'>Press</a>
    {% endif %} -->
    <a href='https://creativecommons.org/licenses/by/3.0/' target='new'>CCA 3.0 License</a>
  </div>
</div>
