{% if site.lang == 'cn' %}
<a href='/' class='logo'><img src='/dist/images/logo.svg'></a>
{% else %}
<a href='/en' class='logo'><img src='/dist/images/logo.svg'></a>
{% endif %}
<button class='button nav'></button>
<nav id='nav'>
  <div class='box'>
    {% if site.lang == 'cn' %}
      <a class="{% if page.url contains 'call-for-speakers' %}active{% endif %}" href='/call-for-speakers/'>{% t call_for_speakers %}</a>
      <a class="{% if page.url contains 'call-for-sponsors' %}active{% endif %}" href='/call-for-sponsors/'>{% t call_for_sponsors %}</a>
      <a class="{% if page.url contains 'press' %}active{% endif %}" href='/press'>{% t media %}</a>
    {% else %}
      <a class="{% if page.url contains 'call-for-speakers' %}active{% endif %}" href='/en/call-for-speakers/'>{% t call_for_speakers %}</a>
      <a class="{% if page.url contains 'call-for-sponsors' %}active{% endif %}" href='/en/call-for-sponsors/'>{% t call_for_sponsors %}</a>
      <a class="{% if page.url contains 'press' %}active{% endif %}" href='/en/press'>{% t media %}</a>
    {% endif %}
  </div>
  <button class='close'></button>
</nav>
<a class='button secondary cta ticket' href='http://www.bagevent.com/event/455850' target='new'>{% t ticket %}</a>
{% if site.lang == 'cn' %}
  <a href='/en' class='lang'>English</a>
{% else %}
  <a href='/' class='lang'>中文</a>
{% endif %}
