<section id='hero'>
  <img src='/dist/images/hero.jpg' class='img bg'>
  <div class='videos'>
    <video width="100%" loop autoplay="">
      <source src="/dist/videos/jsconf.mp4?" type="video/mp4">
      <source src="/dist/videos/jsconf.webm" type="video/webm">
    </video>
  </div>
  <div class='container'>
    <div class='wrapper'>
      <div class='masthead'>
        <h1>{% t big_title  %}</h1>
        <time>{% t july %} @ {% t shanghai %}</time>
        <p class='venue'><img src="/dist/images/location.png" height="12"> {% t venue_address %}</p>
        <a class='button primary cta' href='http://www.bagevent.com/event/455850' target='new'>{% t get_tickets %}</a>
      </div>
    </div>
  </div>
</section>
<section id='speakers'>
  <div class='wrapper'>
    <h2>{% t present_speakers  %}</h2>
    <div class='present-speakers'>
      {% for presentspeaker in site.presentspeakers %} {% if presentspeaker.featured %}
      <div class='imgBox'>
        <a href="{{presentspeaker.link}}">
          <img class='speakerImg' src='/dist/images/presentspeakers/{{ presentspeaker.user }}.jpg'>
        </a>
        <a href="{{presentspeaker.link}}"><span class="speakerName">
          {{ presentspeaker.name }}
        </span></a>
        {% if site.lang == 'cn' %}
          <div class="speakerTopic">{{ presentspeaker.topicCN }}</div>
          {% if presentspeaker.company %}
            <div class="speakerCompany">{{ presentspeaker.company }}</div>
          {% else %}
            <div class="speakerCompany">{{ presentspeaker.titleCN }}</div>
          {% endif %}
        {% else %}
          <div class="speakerTopic">{{ presentspeaker.topicEN }}</div>
          {% if presentspeaker.company %}
            <div class="speakerCompany">{{ presentspeaker.company }}</div>
          {% else %}
            <div class="speakerCompany">{{ presentspeaker.titleEN }}</div>
          {% endif %}
        {% endif %}
      </div>
      {% endif %} {% endfor %}
    </div> 
  </div>
</section>
<section id="schedule">
  <div class='divider'></div>
  <div class="wrapper">
    <div class="switcher">
      <a href="" class="button primary active" data-index="0">{% t schedule_day1  %}</a>
      <a href="" class="button primary" data-index="1">{% t schedule_day2  %}</a>
    </div>
    <div class="schedule-details">
      <div class="schedule-details-heading">
        <div class="main">
          <div class="title">{% t schedule_main_title  %}</div>
        </div>
        <div class="side">
          <div class="title">{% t schedule_workshop_title  %}</div>
        </div>
      </div>
      {% include schedule-day1.html %}
      {% include schedule-day2.html %}
    </div>
  </div>
</section>
<section id="after-party">
  <div class="wrapper">
    <h2>{% t after_party %}</h2>
    {% if site.lang == 'cn' %}
      <p>在这里认识来自世界各地的极客们，一起举杯畅饮，结交基友！（我们会提供免费啤酒哦）</p>
    {% else %}
      <p>Join 1000+ other developers for After-party, the beers are on us! RSVP below to save your spot.</p>
    {% endif %}
    <div class="event">
      <div class="event-details">
        <img src='/dist/images/companies/nightplus.png'>
        <div class="event-title">{% t after_party_time %}</div>
        <div class="event-place">{% t after_party_place  %}</div>
      </div>
    </div>
    <div class="action">
      <a class="button primary cta" href="http://nightplus.sxl.cn/" target="_blank">RSVP</a>
    </div>
  </div>
</section>
<section id='past-speakers'>
  <div class='wrapper' style="margin-bottom: 0">
    <div class='album'>
      <ul class='left'>
        <li><img src='/dist/images/album/album-02.jpg' /></li>
        <li><img src='/dist/images/album/album-03.jpg' /></li>
        <li><img src='/dist/images/album/album-04.jpg' /></li>
      </ul>
      <div class='stay-tuned right subscription'>
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/dGdLV7q_PW4?list=LLvFAekDfG_dL2Kcbq-vrPXQ" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <form action="https://www.getdrip.com/forms/84243211/submissions" method="post" data-drip-embedded-form="84243211">
          <h3>{% t stay_tuned %}</h3>
          <p>{% t be_first %}</p>
          <input type='email' name='fields[email]' class='email' required placeholder='{% t email_address %}' />
          <input type="submit" name="submit" value='{% t notify_me %}' data-drip-attribute="sign-up-button" class='button purple cta' />
        </form>
      </div>
    </div>
  </div>
</section>
<section id='quotes'>
  <div class='wrapper'>
    <ul>
      <li>
        <div>“The talks and people were fantastic! I made some amazing friends while at JSConf China. I'll never forget it, and I hope to return some day.”</div>
        <div><img src='/dist/images/pastspeakers/ben-lesh.png' /><span>Ben Lesh<br/><em>Google (Previous Netflix)</em></span></div>
      </li>
      <li>
        <div>“It was a fun experience to explain something complex in a short time, even more fun to see someone understood.”</div>
        <div><img src='/dist/images/pastspeakers/makara.png' /><span>Makara Wang<br/><em>Wiredcraft</em></span></div>
      </li>
      <li>
        <div>“JSConf China has a really enthusiastic crowd and great atmosphere. The organizers also did a fantastic job!.”</div>
        <div><img src='/dist/images/pastspeakers/evan-you.png' /><span>Evan You<br/><em>Author Of Vue.JS</em></span></div>
      </li>
    </ul>
  </div>
</section>
<section id='about'>
  <div class='wrapper'>
    <h2>{% t about_us  %}</h2>
    <p>{% t about_us_p %}</p>
    <ul class='history'>
      <li><em>2670+</em>
        <br/><span>{% t attendees  %}</span></li>
      <li><em>6</em>
        <br/><span>{% t years  %}</span></li>
      <li><em>4008+</em>
        <br/><span>{% t connections  %}</span></li>
      <li><em>102</em>
        <br/><span>{% t talks  %}</span></li>
    </ul>
  </div>
</section>
<section id='organizer'>
  <div class='wrapper'>
    <h2>{% t organizer %}</h2>
    <div class="w-logo"><a href='https://wiredcraft.com/' target='_blank'>
      <img src='/dist/images/sponsors/wiredcraft.png'>
    </a></div>
    <p>{% t about_organizer %}</p>
  </div>
</section>
<section id='companies'>
  <div class='wrapper'>
    <div class='sponsors'>
      <h2>{% t sponsors %}</h2>
      <div class='sponsorGold'>
        <h4>{% t sponsors_gold %}</h4>
        {% for company in site.companies %}
        {% if company.sponsor == 'gold' %}
        <a href='{{ company.link }}'  class='c-logo' target='_blank'>
          <img src='/dist/images/companies/{{ company.user }}.png'>
        </a>
        {% endif %} 
        {% endfor %}
      </div>
      <div class='sponsorSilver'>
        <h4>{% t sponsors_silver %}</h4>
        {% for company in site.companies %}
        {% if company.sponsor == 'silver' %}
        <a href='{{ company.link }}'  class='c-logo' target='_blank'>
          <img src='/dist/images/companies/{{ company.user }}.png'>
        </a>
        {% endif %} 
        {% endfor %}
      </div>
      <div class='sponsorBronze'>
        <h4>{% t sponsors_bronze %}</h4>
        {% for company in site.companies %}
        {% if company.sponsor == 'bronze' %}
        <a href='{{ company.link }}'  class='c-logo' target='_blank'>
          <img src='/dist/images/companies/{{ company.user }}.png'>
        </a>
        {% endif %} 
        {% endfor %}
      </div>
      <div class='sponsorSpeaker'>
        <h4>{% t sponsors_speaker %}</h4>
        {% for company in site.companies %}
        {% if company.sponsor == 'speaker' %}
        <a href='{{ company.link }}' class='c-logo' target='_blank'>
          <img src='/dist/images/companies/{{ company.user }}.png'>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class='specialSpeaker'>
        <h4>{% t special_sponsor %}</h4>
        {% for company in site.companies %}
        {% if company.sponsor == 'special' %}
        <a href='{{ company.link }}' class='c-logo' target='_blank'>
          <img src='/dist/images/companies/{{ company.user }}.png'>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class='sponsorParty'>
        <h4>{% t sponsors_afterparty %}</h4>
        {% for company in site.companies %}
        {% if company.sponsor == 'afterparty' %}
        <a href='{{ company.link }}' class='c-logo' target='_blank'>
          <img src='/dist/images/companies/{{ company.user }}.png'>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class='divider'></div>
    <div class='parterners'>
      <h2>{% t media_partner %}</h2>
      {% for company in site.companies %}
      {% if company.media %}
      <a href='{{ company.link }}' class='c-logo' target='_blank'>
        <img src='/dist/images/companies/{{ company.user }}.png'>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <div class='parternersExc'>
      <h4>{% t media_partner_exclusive %}</h4>
      <a href='http://www.itdks.com/dakashuo/new/index' class='c-logo' target='_blank'>
        <img src='/dist/images/companies/itdakashuo.jpg'>
      </a>
    </div>
  </div>
</section>
