<section class='content hero'>
  <div>
    <img src='/dist/images/call-for-hero-03.jpg' class='img bg' />
    <div class='container'>
      <div class='wrapper'>
        <div class='masthead'>
          <h1>Thank you, Media.</h1>
          <p>Share your ideas, met brilliant people</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content press-material">
  <div class="wrapper">
    <h2>Press Material</h2>
    <div class="meterial-list">
      <div class="meterial-logo">
        <div class="background"><img src='/dist/images/press1.jpg?v=' class='img' /></div>
        <div class="content">
          <div><img src="/dist/images/logo.svg">
            <a href="" class="button purple cta">JSConf China Logo</a>
          </div>
        </div>
      </div>
      <div class="meterial-press">
        <div class="background"><img src='/dist/images/press2.jpg?v' class='img' /></div>
        <div class="content">
          <div><img src="/dist/images/svgs/gallery.svg">
            <a href="" class="button primary cta">Press Kit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
