<section class="content hero" style="background-image:url(https://cloud.githubusercontent.com/assets/914595/24638152/a9587b7a-1929-11e7-8ca7-f518b03d1b5a.png)">
  <div class="wrapper">
    <h1>Thank you, Media.</h1>
    <p>Share your ideas, met brilliant people</p>
  </div>
</section>

<section class="content press-material">
  <div class="wrapper">
    <h2>Press Material</h2>
    <div class="meterial-list">
      <div class="meterial-logo">
        <div class="background"><img src="https://cloud.githubusercontent.com/assets/914595/24613197/ec700784-18ca-11e7-9251-3e2ae5920295.png"></div>
        <div class="content">
          <div><img src="/dist/images/logo.svg"></div>
          <div>
            <a href="" class="button subscription cta">JSConf China Logo</a>
          </div>
        </div>
      </div>
      <div class="meterial-press">
        <div class="background"><img src="https://cloud.githubusercontent.com/assets/914595/24616859/a4568f26-18d5-11e7-9d63-2260314c2eed.png"></div>
        <div class="content">
          <div><img src="/dist/images/svgs/gallery.svg"></div>
          <div>
            <a href="" class="button primary cta">Press Kit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
