<section class='content hero'>
  <div>
    <img src='/dist/images/call-for-hero-03.jpg' class='img bg' />
    <div class='container'>
      <div class='wrapper'>
        <div class='masthead'>
          <h1>{% t press_head %}</h1>
          <p>{% t press_head_sub %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content press-material">
  <div class="wrapper">
    <h2>{% t press_resources %}</h2>
    <div class="meterial-list">
      <div class="meterial-logo">
        <div class="background"><img src='/dist/images/press1.jpg?v=' class='img' /></div>
        <div class="content">
          <div><img src="/dist/images/logo.svg">
            <a href="/files/JSConfCN-logos.zip" class="button purple cta">{% t press_logo %}</a>
          </div>
        </div>
      </div>
      <div class="meterial-press">
        <div class="background"><img src='/dist/images/press2.jpg?v' class='img' /></div>
        <div class="content">
          <div><img src="/dist/images/svgs/gallery.svg">
            <a href="/files/JSConfCN2017.press.kit.pdf" class="button primary cta">{% t press_kit %}</a>
            <p class='request'>{% t request %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
