<!doctype html>
<html>

<head>
  <link rel='canonical' href='{{ site.url }}{{ site.baseurl }}{{ page.url }}' />
  <title>{% t page.title %}</title>
  <meta name="description" content="{% t call_for_speakers_p2 %}">
  <meta charset='utf-8' />
  <meta http-equiv='Content-Language' content='{{site.lang}}' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <link rel='stylesheet' href="/dist/main.css?version=2017626" type="text/css" />
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/dist/images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/dist/images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/dist/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/dist/images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/dist/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/dist/images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/dist/images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/dist/images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/dist/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/dist/images/favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/dist/images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/dist/images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/dist/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/dist/images/favicons/manifest.json">
  <link rel="mask-icon" href="/dist/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/dist/images/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P3K9SWV');</script>
<!-- End Google Tag Manager -->
</head>
<body{% if page.class %} class='page-{{ page.class }}' {% endif %}>
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-download" viewBox="0 0 26 28">
<title>download</title>
<path d="M20 21c0-0.547-0.453-1-1-1s-1 0.453-1 1 0.453 1 1 1 1-0.453 1-1zM24 21c0-0.547-0.453-1-1-1s-1 0.453-1 1 0.453 1 1 1 1-0.453 1-1zM26 17.5v5c0 0.828-0.672 1.5-1.5 1.5h-23c-0.828 0-1.5-0.672-1.5-1.5v-5c0-0.828 0.672-1.5 1.5-1.5h7.266l2.109 2.125c0.578 0.562 1.328 0.875 2.125 0.875s1.547-0.313 2.125-0.875l2.125-2.125h7.25c0.828 0 1.5 0.672 1.5 1.5zM20.922 8.609c0.156 0.375 0.078 0.812-0.219 1.094l-7 7c-0.187 0.203-0.453 0.297-0.703 0.297s-0.516-0.094-0.703-0.297l-7-7c-0.297-0.281-0.375-0.719-0.219-1.094 0.156-0.359 0.516-0.609 0.922-0.609h4v-7c0-0.547 0.453-1 1-1h4c0.547 0 1 0.453 1 1v7h4c0.406 0 0.766 0.25 0.922 0.609z"></path>
</symbol>
</defs>
</svg>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3K9SWV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Hack for Share on Wechat Moment -->
  <div style="display: none;"><img src="/dist/images/favicons/favicon-full.png" alt="{% t big_title %}"></div>
  <header id='header'>
    {% include header.html %}
  </header>
  <section id='content'>
    {{ content }}
  </section>
  <footer id='footer'>
    {% include footer.html %}
  </footer>
  {% include modal.html %}
  <!-- JS -->
  <script src="/dist/scripts.js" type="text/javascript" charset="utf-8" defer></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-101426769-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {}; 
  _dcs.account = '5540208';
  
  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true; 
    dc.src = '//tag.getdrip.com/5540208.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
  <!--[if lt IE 9]><script src='https://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  </body>

</html>
